@model EmployeeProject.Models.EmployeeViewModel

@{
    Layout = "_Layout";
    var title = "Update Employee";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form class="m-1 p-1" method="post">
    <div class="form-group">
        <label asp-for="EmployeeTagNumber"></label>
        <input asp-for="EmployeeTagNumber" class="form-control" type="text" />
        <span asp-validation-for="EmployeeTagNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" type="text" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="Department"></label>
        <select class="form-control" id="EmpDepartment" name="Department" asp-for="Department">
            <option>Select option</option>
            <option>Dev</option>
            <option>QA</option>
            <option>Analyst</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input class="form-control" asp-for="Age" name="Age" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="Designation"></label>
        <select class="form-control" id="EmpDesignation" name="Designation" asp-for="Designation">
            <option>Select option</option>
            <option>Software Developer</option>
            <option>Software Tester</option>
            <option>Business Analyst</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary submission">Submit</button>&nbsp;
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Employee">Back</a>
</form>